.logo{
    text-decoration: none !important;
    color: inherit !important;
}

.display-4{
    font-family: 'Oswald', sans-serif !important;
}

.display-3{
    font-family: 'Oswald', sans-serif !important;
}

.title{
    font-family: 'Oswald', sans-serif !important;
}

.navbar{
    font-family: 'Oswald', sans-serif !important;
}

.user-icon{
    max-width: 24px;
}

.py-4 {
    height: 100%;
    min-height: 90vh !important;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Roboto', sans-serif !important;
    font-weight: lighter;
    margin: 0;
}

body {
    height: 100%;
    min-height: 100vh;
}

/* Style page content */
.mainUser {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

#card {
    max-height: 400px;
}

.card-text {
    max-height: 145px;
    overflow: hidden;
}
/*Settings for admin*/
/*
/*Ustawienia dla adminów*/

.box{
    width: 100vw;
    /*min-height: 30vh;*/
    line-height: 30vh;
}

.white-space-normal{
    white-space: normal;
}

.box:hover{
    box-shadow: 10px 10px lightgray;
}

.box:hover .noshadow{
    box-shadow: none!important;
}

.material-icons.md-18{
    font-size: 18px;
}