
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:300,400");

// Variables
//@import "variables";

// Bootstrap

$primary: #333745;
$secondary: #C7EFCF;
$warning: #FE5F55;
$light: #EEF5DB;

$theme-colors: (
        dark: $primary,
        secondary: $secondary,
        warning: $warning,
        light: $light,
);

body{
  $font-family: 'Lato', sans-serif;
}
//.btn{
//  $font-family: 'Oswald', sans-serif;
//}
//.navbar{
//
//  $font-family: 'Oswald', sans-serif;
//}
@import '~bootstrap/scss/bootstrap';
